<div
  class="
    d-flex
    bg-blur
    align-items-center
    justify-content-between
    position-fixed
    w-100
    top-0
    p-1
    navbar-home
  "
>
  <div class="ms-2">
    <p class="text-color">Insinia</p>
  </div>
  <div class="me-2">
    <p class="text-color">lorem</p>
  </div>
</div>

<div class="container text-color mt-5">
  <div class="col-xl-4">
    <div class="card border-0 shadow-sm card-hover-primary">
      <div class="card-body border-bottom border-color text-color pb-4">
        <div class="d-flex text-truncate">
          <img
            [@fadeIn]
            *ngIf="profile && profile.avatar"
            src="{{ profile.avatar }}"
            class="thumbnails img-fluid"
            alt=""
          />
          <img [@fadeIn] *ngIf="!profile" class="thumbnails img-fluid" />
          <div class="row">
            <div class="row">
              <div class="mt-3 p-0 m-0 ms-4">
                <div *ngIf="profile && profile.name && profile.lastName">
                  {{ profile.name + " " + profile.lastName }}
                </div>
              </div>
            </div>
            <div class="row">
              <p *ngIf="profile" class="mb-2 p-0 m-0 ms-4">
                Te uniste el {{ profile.dateJoined }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div [@fadeIn] *ngIf="profile" class="col-lg rounded p-4">
      <h4 class="mb-3">Editar tu perfil</h4>
      <form
        class="needs-validation"
        [formGroup]="profileForm"
        (ngSubmit)="updateSubmit()"
        novalidate=""
      >
        <div class="row g-3">
          <div class="col-sm">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              formControlName="name"
              placeholder="{{ profile.name }}"
              class="form-control"
            />
            <div *ngIf="profileForm.controls.name.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.name.touched &&
                  profileForm.controls.name.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.name.touched &&
                  profileForm.controls.name.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>

          <div class="col-sm">
            <label for="lastName" class="form-label">Apellidos</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              placeholder="{{ profile.lastName }}"
            />
            <div *ngIf="profileForm.controls.lastName.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.lastName.touched &&
                  profileForm.controls.lastName.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.lastName.touched &&
                  profileForm.controls.lastName.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>

          <div class="col-12">
            <label for="username" class="form-label">Nick</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input
                type="text"
                formControlName="nick"
                class="form-control"
                placeholder="{{ profile.nick }}"
              />
            </div>
            <div *ngIf="profileForm.controls.nick.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.nick.touched &&
                  profileForm.controls.nick.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.nick.touched &&
                  profileForm.controls.nick.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>

          <div class="col-sm-12">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="{{ profile.email }}"
            />
            <div *ngIf="profileForm.controls.email.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.email.touched &&
                  profileForm.controls.email.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.email.touched &&
                  profileForm.controls.email.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>

          <div class="col-sm-12">
            <label for="dateBirth" class="form-label"
              >Fecha de nacimiento</label
            >
            <input
              type="date"
              formControlName="dateBirth"
              class="form-control"
            />
            <div *ngIf="profileForm.controls.dateBirth.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.dateBirth.touched &&
                  profileForm.controls.dateBirth.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.dateBirth.touched &&
                  profileForm.controls.dateBirth.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>

          <div class="col-sm-12">
            <label for="description" class="form-label">Descripción</label>
            <textarea
              type="text"
              formControlName="description"
              class="form-control"
            ></textarea>
            <div *ngIf="profileForm.controls.description.errors">
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.description.touched &&
                  profileForm.controls.description.errors['minlength']
                "
                ><i class="bi bi-x me-2"></i>La longitud debe ser de 8
                caracteres.</small
              >
              <small
                [@fadeIn]
                class="text-danger"
                *ngIf="
                  profileForm.controls.description.touched &&
                  profileForm.controls.description.errors['required']
                "
                ><i class="bi bi-x me-2"></i>Este campo es obligatorio.</small
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
