.backgroundRegister {
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #5206d6;
	background-color: #6d30f3
}

.container-register {
	width: 25em;
	border-radius: .5rem
}

.bg-white {
	--bs-bg-opacity: 0.9!important
}

.descripcion {
	width: 20.5rem;
	max-height: calc(2.5em + 3.75rem + 2px)!important
}

input::-webkit-input-placeholder {
	text-align: center;
	line-height: 100px
}

.titulo {
	color: #f0f8ff;
	text-align: center;
	font-weight: 700;
	margin-top: 1rem
}

.loginLink {
	color: #f0f8ff;
	text-align: center;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	display: block
}

.form-control.is-invalid:focus {
	border-color: #dc3545!important;
	box-shadow: 0 0 0 .25rem rgb(220 53 69 / 25%)
}

.form-control:focus {
	border-color: #17df17!important
}

.containerRegister {
	position: absolute;
	margin-top: 1rem;
	width: 100%
}

.next {
	position: absolute;
	margin-left: 13%;
	margin-top: 1%
}

.next:hover {
	transform: scale(1.5)
}

.logo {
	min-width: 7rem;
	width: 100%;
	max-width: 200px;
	margin-right: auto;
	text-align: center
}

.inputsRegister {
	max-width: 30em;
	min-width: 25em!important
}

.nextBackButtons {
	max-width: 25rem;
	margin-bottom: 1rem
}