<!-- NAVBAR SUPERIOR -->

<div
  class="d-flex align-items-center justify-content-between p-2 sticky-top bg-blur"
>
  <div class="p-2">
    <img src="../../assets/insinia.png" width="30" />
  </div>
  <div class="p-2">
    <a href="/home" class="mx-2 link-color text-decoration-none fw-bolder"
      >Rankings</a
    >
    <a href="/documentation" class="mx-2 link-color text-decoration-none"
      >Supervisores</a
    >
    <a href="/register" class="mx-2 link-color text-decoration-none"
      >Usuarios</a
    >
    <a href="/login" class="mx-2 link-color text-decoration-none">Ajustes</a>
  </div>
  <div class="p-2">Salir</div>
</div>
<div class="row" style="margin-top: 1%; width: 100%"></div>

<!-- AVATAR -->
<div class="row container-fluid">
  <div
    id="avatar"
    class="col-2 rounded-circle avatar"
    [ngStyle]="{
      background: 'url(' + avatar + ') no-repeat 0 0 / cover'
    }"
  ></div>
  <div class="col-5"></div>
</div>
<!--    CONTENEDOR RANKING  -->
<div class="row d-flex justify-content-center">
  <!--    CONTENEDOR RANKING /  FILTRO -->

  <div class="row d-flex justify-content-center" style="height: 10vh"></div>

  <div class="col-7" style="margin-bottom: 5rem; min-width: 26em">
    <div class="row d-flex justify-content-center" style="height: 5vh">
      <div
        class="col-5 bg-white"
        style="width: 70vw; height: 0vh; margin-bottom: 10%"
      >
        <div class="row">
          <div class="col-2 d-flex justify-content-center mb-4 select-ranking">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Rankings
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let item of listaRankings">
                  <a class="dropdown-item" (click)="rankingSelected(item)">{{
                    item.description
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--     CONTENEDOR RANKING / LISTA NOTIFICACIONES -->
    <div
      class="container ranking-container"
      style="overflow-y: auto; height: 40vh"
    >
      <div>
        <div
          class="row d-flex justify-content-center rounded"
          style="width: 100%"
          class="tabla-ranking"
        >
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--  Columna Posicion-->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Posicion</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!--  Columna Nombre -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Columna Apellido -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef>Apellido</th>
              <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No hay nada que coincida con: "{{ input.value }}"
              </td>
            </tr>
          </table>
        </div>

        <br />
      </div>
    </div>
  </div>

  <!--    CONTENEDOR DESTACADOS  -->
  <div class="col-3" style="margin-bottom: 5rem; min-width: 26em">
    <!--    CONTENEDOR DESTACADOS /  FILTRO -->

    <div
      class="row d-flex justify-content-center filter-icons"
      style="height: 5vh"
    >
      <div
        class="col-5 bg-white"
        style="width: 70vw; height: 0vh; margin-bottom: 50rem"
      >
        <div class="row" style="margin-bottom: 1em">
          <div class="col-12 d-flex justify-content-center mb-4">
            <div class="col-1 filter-icons mx-2" style="cursor: pointer">
              <img
                class="img-fluid home-hero"
                src="../../assets/icons/world-outline-badged.svg"
                alt=""
                (click)="destacadosSelected('todo')"
              />
            </div>
            <div class="col-1 filter-icons mx-2" style="cursor: pointer">
              <img
                class="img-fluid home-hero"
                src="../../assets/icons/ranking.svg"
                alt=""
                (click)="destacadosSelected('ranking')"
              />
            </div>
            <div class="col-1 filter-icons mx-2" style="cursor: pointer">
              <img
                (click)="destacadosSelected('logro')"
                class="img-fluid home-hero"
                src="../../assets/icons/medal-outline.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     CONTENEDOR DESTACADOS / LISTA NOTIFICACIONES -->
    <div class="container" style="overflow-y: auto; height: 40vh">
      <div *ngFor="let item of listaRankings; &quot;info-destacados&quot;">
        <div
          class="row d-flex justify-content-center rounded"
          style="width: 105%; height: 20vh"
          *ngIf="filtroDestacados == item.tipo || filtroDestacados == 'todo'"
        >
          <!-- <div
            class="row d-flex justify-content-center"
            *ngIf="notificationEmpty; else notifications"
          >
            <div
              class="col d-flex justify-content-center icono-destacados"
            ></div>
          </div> -->
          <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center icono-destacados">
              <img class="img-fluid home-hero" src="{{ item.logo }}" alt="" />
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-12 nombre-ranking d-flex justify-content-center">
              Has ganado un insignia a {{ item.name }}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col nombre-ranking d-flex justify-content-center">
              En el grupo {{ item.description }}
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
    <button (click)="test()"></button>
  </div>
  <button class="button" (click)="getRankingByUser()"></button>
</div>
<div class="row" style="height: 48vh"></div>
