<topnav></topnav>

<div class="row tableContainer">
    <button (click)="onRemoveSelected()">Revertir seleccion</button>
<div class='d-flex justify-content-center tableContainer mt-5'>
         <ag-grid-angular
    class="ag-theme-alpine historyTable "
    resizable="true"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    [overlayNoRowsTemplate]="noRowsTemplate"
    [overlayLoadingTemplate]="loadingTemplate"
    [groupSelectsChildren]="true"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"></ag-grid-angular>
          </div>
        </div>

        