<div class="body">
  <div class="container-fluid">
    <!-- HEADER -->
    <div class="row pt-5 justify-content-center gap-1">
      <!-- TEXT -->
      <div class="col-6 rounded">
        <div class="col-auto p-0">
          <h4 class="text-color fw-bolder pt-2">Bienvenido a Insinia</h4>
          <div class="row">
            <p class="text-color">
              <a
                class="bi bi-house-door-fill me-1"
                (click)="goHome()"
                style="cursor: pointer"
                >Insinia</a
              >
              <i class="bi bi-caret-right-fill mx-1"></i>Sobre nosotros
            </p>
          </div>
          <h5 class="text-color">
            La herramienta definitiva para crear, organizar y manejar rankings.
          </h5>
          <div class="row">
            <div class="col-auto">
              <button
                class="btn btn-color text-light shadow-sm fw-bolder"
                routerLink="/register"
              >
                ¿Comenzamos?
              </button>
            </div>
          </div>
        </div>
        <br />
        <h5 class="text-color">
          Creemos en un mundo sostenible, por eso llevamos a cabo iniciativas
          que nos llevan a un futuro mejor
        </h5>
        <div class="row">
          <div class="col-auto">
            <div class="btn btn-color text-light shadow-sm fw-bolder">
              <a
                class="bi bi-facebook link-white-to-color me-2"
                href="https://www.facebook.com/profile.php?id=100077290395219"
              ></a>
              <a
                class="bi bi-twitter link-white-to-color me-2"
                href="https://twitter.com/Insinia4"
              ></a>
              <i class="bi bi-google link-white-to-color me-2"></i>
              <i class="bi bi-youtube link-white-to-color me-2"></i>
              <i class="bi bi-pinterest link-white-to-color me-2"></i>
            </div>
          </div>
        </div>

        <br />
        <h5 class="text-color">
          Nos ubicamos en Lleida, aqui nacio Insinia, puedes visitarnos cuando
          quieras.
        </h5>
        <div class="row">
          <div class="col-auto">
            <div class="btn text-light shadow-sm fw-bolder">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6552.695603696456!2d0.6192628451085612!3d41.61663553720677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e068350330f9%3A0x8aca0fa5dd061a60!2sLa%20Seu%20Vella!5e0!3m2!1ses!2ses!4v1643819227502!5m2!1ses!2ses"
                class="map"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- LOGO -->
      <div class="col-2 logo">
        <div
          class="col-lg text-center"
          (click)="goHome()"
          style="cursor: pointer"
        >
          <img
            src="../../assets/insinia-shadow.png"
            class="img-fluid home-logo float"
          />
        </div>
      </div>
    </div>
  </div>
</div>
