<div class="container-fluid">
  <form [formGroup]="addEmailForm">
    <label class="text-color mt-3" for="email"
      >Introduce a los miembros del Ranking</label
    >
    <div class="input-group mt-1">
      <input
        formControlName="email"
        class="form-control"
        type="text"
        (keydown)="add($event)"
      />
      <button
        [disabled]="addEmailForm.invalid"
        class="btn btn-sm btn-outline-color"
        (click)="push()"
        type="button"
      >
        Añadir
      </button>
    </div>
    <div>
      <validator [ctrl]="addEmailForm.get('email')"></validator>
    </div>
    <div *ngIf="!addEmailForm.controls['email'].errors">
      <div class="d-grid mt-1">
        <small @fadeIn class="text-success"
          ><i class="bi bi-check-lg me-1"></i>El email es válido.
        </small>
      </div>
    </div>
  </form>
  <div class="d-flex flex-wrap">
    <div class="mt-1" *ngFor="let email of emails.original">
      <div class="bg-color text-light rounded-pill px-2 py-1 me-1">
        <div>
          {{ email
          }}<i
            class="bi bi-x-circle-fill ms-1 link-white-to-color"
            (click)="modal('removeUser', 'show'); setSelected(email)"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="emails && emails.original.length > 0" class="d-grid mt-2">
    <p>{{emails.added}}</p>
    <button
      [disabled]="emails.added.length === 0"
      class="btn btn-sm btn-outline-color"
      type="submit"
      (click)="addUsersToRanking()"
    >
      Agregar a todos los usuarios
    </button>
  </div>
</div>

<modal [title]="'Eliminar usuario'" [uniqueId]="'removeUser'">
  <div class="modal-body">
    ¿Quieres eliminar a <b>{{ selectedEmail }}</b> del ranking?
  </div>
  <div class="modal-footer p-1">
    <button
      type="button"
      class="btn btn-sm btn-outline-color"
      (click)="remove()"
    >
      Confirmar
    </button>
    <button
      type="button"
      class="btn btn-sm btn-color text-light"
      data-bs-dismiss="modal"
    >
      Cancelar
    </button>
  </div>
</modal>
