<div class="modal fade" [attr.id]="uniqueId" tabindex="-1" aria-hidden="true">
  <div [class.modal-xl]="isLarge" class="modal-dialog shadow">
    <div class="modal-content">
      <div
        class="modal-header"
        [class.bg-color]="!isAlert"
        [class.alert]="isAlert"
      >
        <h3 class="modal-title m-0">{{ title }}</h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>

<!-- 
  <modal [title]="modalTitle" [uniqueId]="modalId">
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-color text-light">Test</button>
    <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</modal>
 -->
