<topnav></topnav>

<div class="row sideTitle" @slideDownHideUp >
    <div class="col-6">
      <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRankingModal" >Añadir</div>
      <div class="btn btn-primary" routerLink="/create">Crear</div>
    </div>
</div>
<div class="row">
   <!-- MODALS-->
   <div class="modal fade" id="addRankingModal" tabindex="-1" aria-labelledby="addRankingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addRankingModalLabel">Añadir codigo</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="addRegisterInput" placeholder="Codigo" name="addRegisterInput" #addRegisterInput>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="addRankingByCode(addRegisterInput.value)"data-bs-dismiss="modal">Añadir</button>
        </div>
      </div>
    </div>
  </div>
    
<div
  class="sidebar show sidebar-start sidecont col-12 col-md-3"
  tabindex="-1"
  id="sidebar"
  data-bs-keyboard="false"
  data-bs-backdrop="false"
>
  <div class="sidebar-body px-0">
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
      id="menu"
    >
    
      <li class="nav-item">
        <div class="card mb-0">
          <div *ngFor="let item of rankings">
            <div class="m-4 ranking-card" (click)="rankingData(item.id)">
              <div class="card" style="max-width: 500px">
                <div class="row g-0">
                  <div class="col-sm-5" style="background: #868e96">
                    <img
                    [src]="atobImg(item.logo)"
                      class="card-img-top h-100 ranking-img"
                    />
                  </div>
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h2 class="card-title">{{ item.name }}</h2>
                      <p
                        class="card-text text-truncate"
                        style="max-width: 15rem"
                      >
                        {{ item.description }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>


      
      
    </ul>
  </div>
  
</div>
<!-- <li class="dropdown">
    <a
      href="#"
      class="nav-link dropdown-toggle text-truncate"
      id="dropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fs-5 bi-bootstrap"></i
      ><span class="ms-1 d-none d-sm-inline">Unirse a un ranking</span>
    </a>
    <ul
      class="dropdown-menu text-small shadow add-ranking-container"
      aria-labelledby="dropdown"
    >
      <li>
        <form class="add-ranking" [@fadeIn] [formGroup]="this.addRanking">
          <input
            formControlName="rankingId"
            class="add-ranking-input"
            type="text"
          />
          <div
            type="submit"
            class="bi bi-plus-circle-dotted add-ranking-button"
            (click)="addRankingByCode()"
          ></div>
        </form>
      </li>
    </ul>
  </li>

  <li>
    <a
      [routerLink]="['/create']"
      routerLinkActive="router-link-active"
      data-bs-toggle="collapse"
      class="nav-link text-truncate"
    >
      <i class="fs-5 bi-speedometer2"></i
      ><span class="ms-1 d-none d-sm-inline">Crear</span>
    </a>
  </li>
  
  <li>
    <a
      [routerLink]="['/login']"
      (click)="clearLocalStorage()"
      routerLinkActive="router-link-active"
      data-bs-toggle="collapse"
      class="nav-link text-truncate"
    >
      <i class="fs-5 bi-speedometer2"></i
      ><span class="ms-1 d-none d-sm-inline">Salir</span>
    </a>
  </li> -->
  
<div class="col-12 col-md-9">
  <div class="row">
    <div class="col min-vh-100 py-3">
      <div class="row justify-content-center">
        <div class="d-flex justify-content-end" *ngIf="rankingSelect">
          <ag-grid-angular
            class="ag-theme-alpine ranking table-responsive"
            [columnDefs]="columnDefsSelect"
            [rowData]="rowData"
            id="dataTable"
            [defaultColDef]="defaultColDef"
            resizable="true"
            [animateRows]="true"
            (cellValueChanged)="onCellValueChanged($event)"
            (onGridSizeChanged)="onGridSizeChanged($event)"
            (gridReady)="onGridReady($event)"
            [@fadeIn]
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
</div>