<topnav></topnav>
<div
  class="offcanvas show offcanvas-start sidecont"
  tabindex="-1"
  id="offcanvas"
  data-bs-keyboard="false"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <h3 class="offcanvas-title d-none d-sm-block side-tittle" id="offcanvas">
      Insinia
    </h3>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
      id="menu"
    >
      <li class="nav-item">
        <div class="card mb-0">
          <div *ngFor="let item of rankings">
            <div class="m-4 ranking-card" (click)="rankingData(item.id)">
              <div class="card" style="max-width: 500px">
                <div class="row g-0">
                  <div class="col-sm-5" style="background: #868e96">
                    <img
                      src="data:image/png;base64,{{ item.logo }}"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h2 class="card-title">{{ item.name }}</h2>
                      <p
                        class="card-text text-truncate"
                        style="max-width: 15rem"
                      >
                        {{ item.description }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle text-truncate"
          id="dropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fs-5 bi-bootstrap"></i
          ><span class="ms-1 d-none d-sm-inline">Unirse a un ranking</span>
        </a>
        <ul
          class="dropdown-menu text-small shadow add-ranking-container"
          aria-labelledby="dropdown"
        >
          <li>
            <form class="add-ranking" [@fadeIn] [formGroup]="this.addRanking">
              <input
                formControlName="rankingId"
                class="add-ranking-input"
                type="text"
              />
              <div
                type="submit"
                class="bi bi-plus-circle-dotted add-ranking-button"
                (click)="addRankingByCode()"
              ></div>
            </form>
          </li>
        </ul>
      </li>

      <li>
        <a
          [routerLink]="['/create']"
          routerLinkActive="router-link-active"
          data-bs-toggle="collapse"
          class="nav-link text-truncate"
        >
          <i class="fs-5 bi-speedometer2"></i
          ><span class="ms-1 d-none d-sm-inline">Crear</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/login']"
          (click)="clearLocalStorage()"
          routerLinkActive="router-link-active"
          data-bs-toggle="collapse"
          class="nav-link text-truncate"
        >
          <i class="fs-5 bi-speedometer2"></i
          ><span class="ms-1 d-none d-sm-inline">Salir</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col min-vh-100 py-3">
      <!-- toggler -->
      <button
        class="btn expandbutton"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvas"
        role="button"
      >
        <i
          class="bi bi-arrow-right-square-fill fs-3"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas"
        ></i>
      </button>
      <div class="row justify-content-center">
        <div class="d-flex justify-content-end" *ngIf="rankingSelect">
          <ag-grid-angular
            class="ag-theme-alpine ranking table-responsive"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            id="dataTable"
            [defaultColDef]="defaultColDef"
            resizable="true"
            [animateRows]="true"
            (cellValueChanged)="onCellValueChanged($event)"
            (onGridSizeChanged)="onGridSizeChanged($event)"
            (gridReady)="onGridReady($event)"
            [@fadeIn]
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
