<div>
  <div class="row justify-content-center g-0">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pe-0 overflow-hidden"
    >
      <div class="d-flex jumbotron bg-color align-items-center">
        <div [@fadeIn] class="circle-1"></div>
        <div [@fadeIn] class="circle-2"></div>
        <div [@fadeIn] class="circle-3"></div>
        <div [@fadeIn] class="rectangle-transparent-1"></div>
        <div [@fadeIn] class="rectangle-transparent-2"></div>
        <div [@fadeIn] class="rectangle-1"></div>
        <div [@fadeIn] class="rectangle-2"></div>
        <div [@fadeIn] class="triangle triangle-1">
          <img src="../../assets/icons/obj_triangle.png" alt="" />
        </div>
        <div [@fadeIn] class="triangle triangle-2">
          <img src="../../assets/icons/obj_triangle.png" alt="" />
        </div>
        <div [@fadeIn] class="triangle triangle-3">
          <img src="../../assets/icons/obj_triangle.png" alt="" />
        </div>
        <div [@fadeIn] class="triangle triangle-4">
          <img src="../../assets/icons/obj_triangle.png" alt="" />
        </div>
        <section class="py-5 container">
          <div class="mx-5 row justify-content-center text-color">
            <div class="card" style="max-width: 700px">
              <div class="row no-gutters">
                <div class="d-flex col-auto align-items-center">
                  <img
                    *ngIf="image.base"
                    [src]="image.base"
                    class="card-img my-2 mx-0 align-self-center"
                    style="height: 100px; width: 100px"
                  />
                  <div
                    *ngIf="!image.base"
                    class="card-img bg-color my-2 mx-0 align-self-center"
                    style="height: 100px; width: 100px"
                  ></div>
                </div>
                <div class="col p-0">
                  <div class="card-body">
                    <p class="card-title fw-bolder">
                      {{ rankingForm.controls["name"].value || "Nombre" }}
                    </p>
                    <p class="card-text">
                      {{
                        rankingForm.controls["description"].value ||
                          "Descripción amplia del ranking con detalles."
                      }}
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        Código:
                        {{ rankingForm.controls["code"].value || "#####" }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 px-5 hidden-md-down"
    >
      <div
        class="
          d-flex
          justify-content-center
          align-self-center align-items-center
        "
      >
        <form
          class="w-100 mx-2 d-flex flex-column align-self-center reduce-margin"
          style="margin-top: 65%"
          [formGroup]="rankingForm"
          (ngSubmit)="create()"
        >
          <h2 class="text-center text-color mb-3">Creador de rankings</h2>
          <label class="text-color">Nombre</label>
          <input
            type="text"
            maxlength="30"
            formControlName="name"
            placeholder="Introduce el nombre"
            class="form-control text-color"
          />
          <div>
            <validator
              [isTouched]="true"
              [ctrl]="rankingForm.get('name')"
            ></validator>
          </div>
          <div *ngIf="!rankingForm.controls['name'].errors">
            <div class="d-grid mt-1">
              <small @fadeIn class="text-success"
                ><i class="bi bi-check-lg me-1"></i>El nombre es válido.
              </small>
            </div>
          </div>
          <label class="text-color mt-2">Código de invitación</label>
          <div class="input-group">
            <input
              type="text"
              formControlName="code"
              maxlength="5"
              placeholder="Introduce el código personalizado"
              class="form-control text-color"
            />
            <button
              class="btn btn-outline-color text-color"
              (click)="generateCode()"
              type="button"
            >
              Generar
            </button>
          </div>
          <div>
            <validator
              [isTouched]="true"
              [ctrl]="rankingForm.get('code')"
            ></validator>
          </div>
          <div *ngIf="!rankingForm.controls['code'].errors">
            <div class="d-grid mt-1">
              <small @fadeIn class="text-success"
                ><i class="bi bi-check-lg me-1"></i>El código es válido.
              </small>
            </div>
          </div>

          <label class="text-color mt-2">Descripción</label>
          <textarea
            type="text"
            formControlName="description"
            placeholder="Introduce una descripción."
            maxlength="200"
            class="form-control text-color"
          ></textarea>
          <div>
            <validator
              [isTouched]="true"
              [ctrl]="rankingForm.get('description')"
            ></validator>
          </div>
          <div *ngIf="!rankingForm.controls['description'].errors">
            <div class="d-grid mt-1">
              <small @fadeIn class="text-success"
                ><i class="bi bi-check-lg me-1"></i>La descripción es válida.
              </small>
            </div>
          </div>
          <label class="text-color text-truncate mt-2"
            >Imagen
            <label
              *ngIf="!image.name"
              for="rankingPicture"
              class="form-control-img text-color text-center"
              >Seleccionar imagen</label
            >
            <label
              *ngIf="image.name"
              for="rankingPicture"
              class="form-control-img text-color text-center"
              >{{ image.name }}</label
            >
            <small @fadeIn *ngIf="image.name" class="text-color"
              >Puedes seleccionar otra foto si quieres.</small
            >
            <input
              #rankingPicture
              name="rankingPicture"
              id="rankingPicture"
              type="file"
              accept="image/png, image/jpg, image/jpeg, image/svg"
              class="hide"
              (change)="readURL($event)"
            />
          </label>
          <div class="d-grid mt-3">
            <button
              type="submit"
              [disabled]="!rankingForm.valid || !image.name"
              class="btn btn-color text-light mb-2"
            >
              Crear ranking
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
