<div class="container-fluid g-0">
  <div class="d-flex align-items-stretch" style="height: 100vh">
    <div class="d-flex jumbotron col-8 bg-color align-items-center">
      <div [@fadeIn] class="circle-1"></div>
      <div [@fadeIn] class="rectangle-1"></div>
      <div [@fadeIn] class="rectangle-2"></div>
      <div [@fadeIn] class="circle-2"></div>
      <div [@fadeIn] class="circle-3"></div>
      <div [@fadeIn] class="rectangle-transparent-1"></div>
      <div [@fadeIn] class="rectangle-transparent-2"></div>
      <div [@fadeIn] class="triangle triangle-1">
        <img src="../../assets/icons/obj_triangle.png" alt="" />
      </div>
      <div [@fadeIn] class="triangle triangle-2">
        <img src="../../assets/icons/obj_triangle.png" alt="" />
      </div>
      <div [@fadeIn] class="triangle triangle-3">
        <img src="../../assets/icons/obj_triangle.png" alt="" />
      </div>
      <div [@fadeIn] class="triangle triangle-4">
        <img src="../../assets/icons/obj_triangle.png" alt="" />
      </div>
      <div class="align-items-center text-center">
          <div class="d-flex align-items-center justify-content-center">
              <div class="col-6 bg-color">
                  <p>Lorem ipsum dolor sit.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="px-2 d-flex col-4 bd-light align-items-center">
      <form class="card-body d-flex flex-column">
        <h2 class="text-center text-color mb-3">Crear ranking</h2>
        <label class="text-color" for="email">Nombre del ranking</label>
        <input
          type="text"
          placeholder="Introduce tu email"
          class="form-control text-color mb-3"
        />
        <label class="text-color" for="email">Código del ranking</label>
        <input
          type="text"
          placeholder="Introduce tu email"
          class="form-control text-color mb-3"
        />
        <label class="text-color" for="email">Icono del ranking</label>
        <input
          type="file"
          placeholder="Introduce tu email"
          class="form-control text-color mb-3"
        />
        <label class="text-color" for="email">Descripción del ranking</label>
        <textarea
          type="text"
          placeholder="Introduce una descripción del ranking."
          class="form-control text-color mb-3"
        ></textarea>
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-color text-light mb-2">
            Crear ranking
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
