.bg-color-home-0 {
    background: rgb(109,48,243);
    background: linear-gradient(180deg, rgba(109,48,243,1) 0%, rgba(0,0,0,0) 100%);
}

.bg-color-home-25 {
    background: rgb(109,48,243);
    background: linear-gradient(180deg, rgba(109,48,243,1) 0%, rgba(89,39,199,1) 25%, rgba(0,0,0,0) 100%);
}

.bg-color-home-50 {
    background: rgb(109,48,243);
    background: linear-gradient(180deg, rgba(109,48,243,1) 0%, rgba(89,39,199,1) 50%, rgba(0,0,0,0) 100%);
}

.bg-color-home-75 {
    background: rgb(109,48,243);
    background: linear-gradient(180deg, rgba(109,48,243,1) 0%, rgba(89,39,199,1) 75%, rgba(0,0,0,0) 100%);
}

.bg-color-home-inverted {
    background: rgb(109,48,243);
    background: linear-gradient(0deg, rgba(109,48,243,1) 0%, rgba(0,0,0,0) 100%);
}

.float {
    animation: float 10s ease infinite;
}

.float-alt {
    animation: float 15s ease infinite;
}

.pulse {
    animation: pulse-color 3s infinite;
}

.pulse:focus {
    box-shadow: 0 0 0 0.25rem transparent !important;
}

.home-logo {
    width: 300px;
    transition: 1s;
}

.asset-item {
    width: 200px;
}

.list-group-item {
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0.5rem;
}

.img-sections {
    width: 105px;
    height: 106px;
}

.container-blank {
    height: 28.4vh;
}

.item-section-home {
    width: 300px;
}

.container-custom-home-one {
    height: 20vh;
}

.head-container {
    height: 870px;
}

.bd-masthead {
    background: linear-gradient(200deg, var(--corp-color-one-hover) 15%, #fff 50%);
}

hr.line {
    border-top: 3px solid var(--corp-color-one);
    margin: 1.5rem;
}

@media only screen and (max-width: 1920px) {
    .home-logo {
        width: 250px;
        transition: 1s;
    }

    .container-blank {
        height: 56.5vh;
    }
}


@media only screen and (max-width: 700px) {
    .home-logo {
        width: 250px;
        transition: 1s;
    }

    .container-blank {
        height: 36vh;
    }
}

@media only screen and (max-width: 650px) {
    .home-logo {
        width: 200px;
        transition: 1s;
    }

    .container-blank {
        height: 43.6vh;
    }
}

@media only screen and (max-width: 600px) {
    .home-logo {
        width: 150px;
        transition: 1s;
    }

    .container-blank {
        height: 51vh;
    }
}

@media only screen and (max-width: 550px) {
    .home-logo {
        width: 100px;
        transition: 1s;
    }

    .container-blank {
        height: 58.8vh;
    }
}

@media only screen and (max-width: 215px) {
    hr {
        display: none;
    }
}