.bg-color-home-0 {
  background: rgb(109, 48, 243);
  background: linear-gradient(180deg, rgba(109, 48, 243, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.bg-color-home-inverted {
  background: rgb(109, 48, 243);
  background: linear-gradient(0deg, rgba(109, 48, 243, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.fullscreen-section {
  height: 100vh;
}

.top-20 {
  top: 20% !important;
}

.top-25 {
  top: 25% !important;
}

.top-60 {
  top: 60% !important;
}

.top-75 {
  top: 75% !important;
}

.home-hero{
  width: 500px;
  transition: 0.7s;
}

.home-hero-card {
  margin: 1rem;
  width: 250px;
  height: 150px;
  transition: 0.7s;
}

.home-hero-card:hover, .home-hero:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.card-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: rgb(134,79,255);
  background: linear-gradient(90deg, rgba(134,79,255,1) 0%, rgba(80,0,255,1) 100%);
  background-clip: border-box;
  border-radius: 0.25rem;
}

.text-small {
  font-size: 12px;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.text-muted-color {
  color: rgba(135, 79, 255, 0.652);
}

.browser {
  transition: 1s;
}

.browser:hover {
  transition: 1s;
  transform: scale(1.3);
}

#section-land {
  padding-top: 10%;
  height: 720px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  #welcome {
    text-align: center !important;
    margin-top: 5rem;
  }

  #welcome-image {
    margin-right: 0 !important;
  }
}