<topnav [toggleBlur]="topnavShow"></topnav>

<div class="jumbotron bg-color d-flex align-items-center" id="welcome-image">
  <div [@fadeIn] class="container text-center interactive">
    <div class="svg-container d-none d-md-block">
      <img 
        class="img-fluid home-hero move-two"
        src="../../assets/svg/working-insinia.svg"
      />
    </div>
    <div class="col-md-7 p-lg-5 mx-auto mt-2">
      <p class="lead fst-italic">
        Herramienta definitiva para creación, edición y manejo de Rankings
      </p>
      <a class="btn btn-light text-color fw-bolder mt-2" routerLink="/login"
        >¡Comenzamos!</a
      >
    </div>
  </div>
  <div [@fadeIn] class="rectangle-1"></div>
  <div [@fadeIn] class="rectangle-2"></div>
  <div [@fadeIn] class="rectangle-transparent-1"></div>
  <div [@fadeIn] class="rectangle-transparent-2"></div>
  <div [@fadeIn] class="circle-1"></div>
  <div [@fadeIn] class="circle-2"></div>
  <div [@fadeIn] class="circle-3"></div>
  <div [@fadeIn] class="triangle triangle-1">
    <img src="../../assets/icons/obj_triangle.png" alt="" />
  </div>
  <div [@fadeIn] class="triangle triangle-2">
    <img src="../../assets/icons/obj_triangle.png" alt="" />
  </div>
  <div [@fadeIn] class="triangle triangle-3">
    <img src="../../assets/icons/obj_triangle.png" alt="" />
  </div>
  <div [@fadeIn] class="triangle triangle-4">
    <img src="../../assets/icons/obj_triangle.png" alt="" />
  </div>
</div>

<div class="container-fluid position-absolute overflow-hidden mb-3 text-color">
  <div class="position-relative" style="width: 120%; left: -5%">
    <div class="row my-2 gap-2 move">
      <div class="col bg-color p-2 rounded shadow-sm"></div>
      <div class="col bg-color p-2 rounded shadow-sm"></div>
      <div class="col bg-color p-2 rounded shadow-sm"></div>
      <div class="col bg-color p-2 rounded shadow-sm"></div>
      <div class="col bg-color p-2 rounded shadow-sm"></div>
    </div>
    <div class="row my-2 gap-2 move-inverted">
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-75 p-2 rounded shadow-sm"></div>
    </div>
    <div class="row my-2 gap-2 move">
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-50 p-2 rounded shadow-sm"></div>
    </div>
    <div class="row my-2 gap-2 move-inverted">
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
      <div class="col bg-color opacity-25 p-2 rounded shadow-sm"></div>
    </div>
  </div>
</div>

<div class="container" id="under-landing">
  <div class="row">
    <div class="col">
      <section>
        <div class="row">
          <div class="col-xl mb-3">
            <section class="card-home-corp">
              <h2 class="text-light fw-bolder">
                <i class="bi icon-lg bi-building me-2"></i>Organización
              </h2>
              <p class="text-light">
                Una genial manera de manejar organizar, cambiar y editar.
              </p>
            </section>
          </div>
          <div class="col-xl mb-3">
            <section class="card-home-corp">
              <h2 class="text-light fw-bolder">
                <i class="bi icon-lg bi-people-fill me-2"></i>Colaboración
              </h2>
              <p class="text-light">
                La colaboración es parte de nosotros y asi lo hemos
                implementado.
              </p>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <section class="card-home-corp">
              <h2 class="text-light fw-bolder">
                <i class="bi icon-lg bi-hand-thumbs-up-fill me-2"></i>Facilidad
                de uso
              </h2>
              <p class="text-light">
                Desarrollado en mente para un uso escolar, casual y profesional.
              </p>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="container half shadow-sm">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="col-auto text-center">
      <img
        src="../../assets/icons/firefox.png"
        class="mx-3 browser"
        width="25"
        alt="firefox icon"
      />
    </div>
    <div class="col-auto text-center">
      <img
        src="../../assets/icons/opera.png"
        class="mx-3 browser"
        width="25"
        alt="opera icon"
      />
    </div>
    <div class="col-auto text-center">
      <img
        src="../../assets/icons/brave.png"
        class="mx-3 browser"
        width="25"
        alt="brave icon"
      />
    </div>
    <div class="col-auto text-center">
      <img
        src="../../assets/icons/chrome.png"
        class="mx-3 browser"
        width="25"
        alt="chrome icon"
      />
    </div>
    <div class="col-auto text-center">
      <img
        src="../../assets/icons/edge.png"
        class="mx-3 browser"
        width="25"
        alt="edge icon"
      />
    </div>
  </div>
</div>

<div class="text-center bg-color text-light pt-2">
  <p>Desarrollado por Insinia<logo class="ms-1" [width]="15"></logo></p>
  <small class="text-light mb-0 p-0">
    2022 © Insinia. Todos los derechos reservados.
  </small>
</div>

<div class="fixed-bottom me-2 mb-2" *ngIf="goupShow" @slideInOut>
  <div class="text-end">
    <a
      routerLink="/home#welcome-image"
      class="btn btn-color text-light"
      id="go-up"
      ><i class="bi icon-lg bi-arrow-up-circle-fill"></i
    ></a>
  </div>
</div>
