<div class="d-flex align-items-center justify-content-between p-2 bg-blur sticky-top" *ngIf="!navbarStatus" @slideDownHideUp>
  <div class="ms-2">
    <p class="text-color">Insinia</p>
  </div>
  <div>
    <a href="/home" class="mx-2 link-color text-decoration-none fw-bolder">Home</a>
    <a href="/documentation" class="mx-2 link-color text-decoration-none">Documentación</a>
    <a href="/register" class="mx-2 link-color text-decoration-none">Register</a>
    <a href="/login" class="mx-2 link-color text-decoration-none">Login</a>
  </div>
  <div class="me-2">
    <p class="text-color">Login</p>
  </div>
</div>

<div class="d-flex bg-color align-items-center justify-content-between bg-blur sticky-top p-2" *ngIf="navbarStatus" @slideDownHideUp>
  <div class="ms-2">
    <p class="text-light">Insinia</p>
  </div>
  <div>
    <a href="/home" class="mx-2 link-light text-decoration-none fw-bolder">Home</a>
    <a href="/documentation" class="mx-2 link-light text-decoration-none">Documentación</a>
    <a href="/register" class="mx-2 link-light text-decoration-none">Register</a>
    <a href="/login" class="mx-2 link-light text-decoration-none">Login</a>
  </div>
  <div class="me-2">
    <p class="text-light">Login</p>
  </div>
</div>

<div class="container-fluid fullscreen-section mb-5" id="section-land">
  <div class="row top-20 justify-content-center">
    <div class="col-xl-4 text-center me-5" id="welcome-image">
      <img class="img-fluid home-hero" src="../../assets/svg/working.svg" alt="">
    </div>
    <div class="col-xl-4 text-start align-self-center" id="welcome">
      <h1 class="text-color mb-2">Bienvenido a Inisnia</h1>
      <p class="text-color mb-1">Insinia es un grupo que ha desarrollado la herramienta definitiva para los Rankings. <br> Tanto para uso escolar, casual y profesional.</p>
      <p class="text-small text-muted-color mb-3">Disponible para navegador</p>
      <a class="btn btn-color text-light py-sm-2 px-sm-3 rounded-pill shadow-sm me-2">Comienza</a>
      <a class="btn btn-outline-color py-sm-2 px-sm-3 rounded-pill shadow-sm">Contáctanos</a>
    </div>
  </div>
</div>


<div class="container-fluid fullscreen-section">
  <div class="row">
    <div class="col-xxl mb-3">
      <div class="card-custom shadow-sm text-light">
        <div class="card-body">
          <div class="row px-4">
            <div class="col-6  align-self-center">
              <h2>¿Qué ofrecemos?</h2>
            </div>
            <div class="col-6 text-end">
              <img class="img-fluid home-hero-card" src="../../assets/svg/colaboration.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl mb-3">
      <div class="card-custom-alt shadow-sm text-light">
        <div class="card-body">
          <div class="row">
            <div class="col ps-4 align-self-center">
              <h2><i class="bi bi-patch-check-fill me-2"></i>Organización</h2>
              <h3>Una genial manera de manejar organizar, cambiar y editar.</h3>
            </div>
            <div class="col text-end">
              <img class="img-fluid home-hero-card" src="../../assets/svg/manage.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl mb-3">
      <div class="card-custom shadow-sm text-light">
        <div class="card-body">
          <div class="row">
            <div class="col g-0 text-start">
              <img class="img-fluid home-hero-card" src="../../assets/svg/group.svg">
            </div>
            <div class="col pe-4 align-self-center text-end">
              <h2><i class="bi bi-patch-check-fill me-2"></i>Colaboración</h2>
              <h3>La colaboración es prioridad para nosotros.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl mb-3">
      <div class="card-custom-alt shadow-sm text-light">
        <div class="card-body">
          <div class="row px-4">
            <div class="col-6  align-self-center">
              <h2><i class="bi bi-patch-check-fill me-2"></i>Facilidad de uso</h2>
              <h3>Desarrollado para cualquier público.</h3>
            </div>
            <div class="col-6 text-end">
              <img class="img-fluid home-hero-card" src="../../assets/svg/colaboration.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fullscreen-section">
  <div class="container-fluid fullscreen-section">
    <div class="row position-relative top-25 justify-content-center">
      <div class="col-8 text-center align-self-center pt-5">
        <h1 class="text-color mb-2">Disponible para los navegadores</h1>
        <p class="text-small text-muted-color mb-3">Utilizar las ultimas versiones de estos navegadores</p>
        <a href="https://brave.com/es/download/"><img src="../../assets/brave.png" class="mx-3 browser" width="50" alt="brave icon"></a>
        <a href="https://www.opera.com/es/download"><img src="../../assets/opera.png" class="mx-3 browser" width="50" alt="opera icon"></a>
        <a href="https://www.google.com/intl/es/chrome"><img src="../../assets/chrome.png" class="mx-3 browser" width="50" alt="chrome icon"></a>
        <a href="https://www.mozilla.org/es-ES/firefox/new/"><img src="../../assets/firefox.png" class="mx-3 browser" width="50" alt="firefox icon"></a>
        <a href="https://www.microsoft.com/es-es/edge"><img src="../../assets/edge.png" class="mx-3 browser" width="50" alt="edge icon"></a>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom pe-2 pb-2" *ngIf="goupStatus" @slideInOut>
  <div class="text-end">
    <a rotuerLink="#welcome-image" class="btn btn-color text-light" id="go-up"><i class="bi bi-arrow-up-circle-fill"></i></a>
  </div>
</div>

<div class="container-fluid">
  <div class="text-center text-color">
    <p class="mb-1">Desarrollado por Insinia</p>
    <p class="text-small text-muted-color">2022 © Insinia. Todos los derechos reservados.</p>
  </div>
</div>