.backgroundRegister {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(82, 6, 214);
  background-color: rgb(109, 48, 243);
}
.container-register {
  width: 25em;
  border-radius: 0.5rem;
}

.bg-white {
  --bs-bg-opacity: 0.9 !important;
}

input::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px; /* Centrado vertical */
}

.titulo {
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.loginLink {
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  display: block;
}
/*   .registerTittle{
      position: absolute;
      width: max-content;
      background-color: aliceblue;
      left:69%;
      top: 30%;
      transform: scale(2);
      border-radius: 0.2em;
      padding: 5px;
  } */
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.form-control:focus {
  border-color: #17df17 !important;
}

.containerRegister {
  position: absolute;
  margin-top: 1rem;
  width: 100%;
}

.form {
  text-align: center;
}
/* 
.form2{
    position: absolute;
    text-align: center;
  } */

.next {
  position: absolute;
  margin-left: 13%;
  margin-top: 1%;
}

.next:hover {
  transform: scale(1.5);
}

.logo {
  min-width: 7rem;
  width: 100%;
  max-width: 200px; /* Original width of the logo image */

  margin-right: auto;
  text-align: center;
}
/* @keyframes rotar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo:hover {
  animation-name: rotar;
  animation-duration: 1s;
} */

.inputsRegister {
  max-width: 30em;
  min-width: 25em !important;
}

.borderMail {
  border: 2px red;
}

.messageOne {
  text-align: center;
  background-size: cover;
  color: #44df07;
  font-size: xx-large;
  font-weight: 900 !important;
  font-size: 3rem;
  /*   margin-top: 3em !important;
 */
  margin-left: -0.5em;
  margin-bottom: 2rem;
}

.nextBackButtons {
  max-width: 25rem;
  margin-bottom: 1rem;
}

/* 
.bg-registro{
    width: 35%;
    background: rgb(106,42,217);
    background: linear-gradient(180deg, rgba(106,42,217,0.6758419432226015) 0%, rgba(184,156,244,0.7514721953234419) 51%, rgba(255,255,255,1) 99%);
    
}
 */

/* .registerForm{
    position:relative;
    margin-left: 50%;
    top: 20%;

    
}

.registerForm{
background-color:#611cf6 ;


} */
/* .formulario{
    margin-left: 50%;
    margin-top: 20%;
    background-color: #6d30f3;
} */
