.backgroundRegister {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(82, 6, 214);
  background: linear-gradient(
    180deg,
    rgba(82, 6, 214, 1) 0%,
    rgba(109, 48, 243, 1) 32%,
    rgba(255, 255, 255, 1) 62%
  );
}
input::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px; /* Centrado vertical */
}

/*   .registerTittle{
      position: absolute;
      width: max-content;
      background-color: aliceblue;
      left:69%;
      top: 30%;
      transform: scale(2);
      border-radius: 0.2em;
      padding: 5px;
  } */

.containerRegister {
  position: absolute;
  margin-top: 4rem;
  width: 100%;
}

.form {
  text-align: center;
}
/* 
.form2{
    position: absolute;
    text-align: center;
  } */

.next {
  position: absolute;
  margin-left: 13%;
  margin-top: 1%;
}

.next:hover {
  transform: scale(1.5);
}

.logo {
  min-width: 7rem;
  width: 100%;
  max-width: 200px; /* Original width of the logo image */

  margin-right: auto;
  text-align: center;
}
@keyframes rotar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo:hover {
  transform: scale(1.1);
  animation-name: rotar;
  animation-duration: 1s;
}

.inputsRegister {
  max-width: 20em;
  min-width: 15em !important;
}

.borderMail {
  border: 2px red;
}

.messageOne {
  text-align: center;
  background-size: cover;
  color: #44df07;
  font-size: xx-large;
  font-weight: 900 !important;
  font-size: 3rem;
  /*   margin-top: 3em !important;
 */
  margin-left: -0.5em;
  margin-bottom: 2rem;
}

.nextBackButtons {
  max-width: 25rem;
}

/* 
.bg-registro{
    width: 35%;
    background: rgb(106,42,217);
    background: linear-gradient(180deg, rgba(106,42,217,0.6758419432226015) 0%, rgba(184,156,244,0.7514721953234419) 51%, rgba(255,255,255,1) 99%);
    
}
 */

/* .registerForm{
    position:relative;
    margin-left: 50%;
    top: 20%;

    
}

.registerForm{
background-color:#611cf6 ;


} */
/* .formulario{
    margin-left: 50%;
    margin-top: 20%;
    background-color: #6d30f3;
} */
